.mediaRepository .selected {
    border: 1px solid #387FBE;
}

.mediaRepository .mediaRepositoryEntry {
    float: left;
    position:relative;
    overflow: hidden;
    width: 143px;
    margin: 0em;
    padding: 0px 6px 0px 9px;
    text-align: center;
}

.mediaRepository .mediaRepositoryEntry img {
    display: block;
    margin: 0 auto;
}

.mediaRepository .mediaRepositoryEntryWrapper {
    width: 128px;
    margin-bottom: 7px;
}

.mediaRepository .mediaRepositoryEntry a {
    display: block;
    text-decoration: none;
    font-size: 90%;
    width: 130px;
    margin: 16px auto 0px;
}
.mediaRepository .mediaRepositoryEntryTitle {
    color: #76797c;
    display: block;
    width: 128px;
    height: 3.6em;
}
